/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(6, 182, 212, 0.6);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(6, 182, 212, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(6, 182, 212, 0.6) transparent;
}

/* Sidebar only */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}
input,
button {
  outline: none !important;
}

input:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}